

.tbopt {

            background-color: #add8e6;
            width: 25%;
            text-align: center;

        }

        .tbopt:hover {
            background-color: #93becd;
        }


        nav {
            width: 100%;
        }

        #topbar {
            width: 100%;
        }

        main {
            float: right;
            width: 75%;
            margin-left: auto;
            margin-right: 5%;
            text-align: center;
            padding: 10px;
        }

        .sidebar {
            
            background-color: white;
            border: 3px solid rgb(255, 0, 0);
            width: auto;
            padding: 10px;
            text-align: left;
        }

        .sidebar:hover {
            background-color: #aeaeae;
        }

        aside {

            top: 0;
            position: sticky;
            float: left;
            width: 15%;

        }

        .article {
            color: white;
            width: 100%;
            background-color: rgb(0, 78, 137);
            border: 2px solid rgb(0, 0, 0);
            margin-bottom: 25px;
        }

        .title {
            text-align: left;
            font-size: larger;
            font-weight: bold;
            color: white;
            padding: 10px;
            width: auto;
            background-color: rgb(0, 104, 184);
        }

        .text {
            color: white;
            text-align: left;
            padding: 10px;
        }

        .center {
            text-align: center;
            padding: 10px;
        }
        .left {
            text-align: left;
            padding: 10px;
        }
        .right {
            text-align: right;
            padding: 10px;
        }

        .iframe {
            width: 30%;
            height: 30%;
            padding: 10px;
        }

